body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* -----HERO SECTION------- */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    display: flex;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-left: 25px;
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0;
}

.intro-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

#head-button {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 10px 0;
    padding: 8px 25px;
    border-radius: 6px;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
}

.intro-photo {
    width: 700px;
    height: 300px;
}



/* -----MAIN SECTION------- */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.keys {
    width: 100%;
    height: 100%;
    margin: 15px;
}

.img-boxes {
    border: 2px #3882f6 solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.keys > p {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-top: 300px;
    padding: 60px;
}

#source {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
}

.CTA {
    color: #F9FAF8;
    margin-top: 100px;
    margin-bottom: 55px;
    padding: 0 200px;
    background-color:#3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cta-items {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    padding: 35px 0;
}

.cta-items > h3, p {
    margin: 0;
}

.main-button {
    border: 2px #F9FAF8 solid;
    border-radius: 6px;
    background-color: #3882f6;
    color: #F9FAF8;
    margin-left: 150px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 600;
    text-wrap: nowrap;
    
}



/* -----FOOTER SECTION------- */

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
}